/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import "sassy-maps/sass/sassy-maps";
@import "breakpoint-sass/stylesheets/breakpoint";
@import "bourbon/bourbon";

$tablet: 768px;
$desktop: 992px;
$fullsize: 1190px;

$susy: (
  columns: 12,
  container: 600px,
  global-box-sizing: border-box
);

@include border-box-sizing;

body {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background-color: #f6f6f6;
}

.wrap {
  @include container;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 600;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
  font-style: normal;
}

#view {
  @include span(12);
  background-color: #ccc;
}

#nav {
  @include span(full);
  line-height: 40px;

  li {
    display: inline-block;
    text-align: center;
    width: 33.33333%;
  }
}

.content {
  @include span(12);
  @include padding(30px null);
}

.box {
  @include span(12);
  @include prefix(10%);
  @include suffix(10%);
}

form {
  text-align: center;

  input {
    font-size: 18px;

  }
}

.message {
  border-radius: 4px;
  padding: 15px;
  background-color: transparent;
  border: 2px solid transparent;
  @include transition(background-color .3s linear, border-color .3s linear, color .3s linear);
  @include margin(10px null);

  // Styles from Bootstrap - http://getbootstrap.com/components/
  &.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  &.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  &.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

.lawsuits {
  font-size: 13px;
  font-style: italic;
}

footer {
  text-align: center;
}