/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import "sassy-maps/sass/sassy-maps";
@import "breakpoint-sass/stylesheets/breakpoint";
@import "bourbon/bourbon";

$tablet: 768px;
$desktop: 992px;
$fullsize: 1190px;

$susy: (
  columns: 12,
  container: 600px,
  global-box-sizing: border-box
);

@include border-box-sizing;

body {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  background-color: #f6f6f6;
}

.wrap {
  @include container;
}

a {
  text-decoration: none;
  font-weight: 600;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
  font-style: normal;
}

#view {
  @include span(12);
  background-color: #ccc;
}

#nav {
  @include span(full);
  line-height: 30px;

  li {
    display: inline-block;
    text-align: center;
    width: 33.33333%;
  }
}

.content {
  @include span(12);
  @include padding(30px null);
}

form {
  text-align: center;

  input {
    font-size: 18px;

  }
}

.lawsuits {
  font-size: 13px;
  font-style: italic;
}

footer {
  text-align: center;
}